.contact-form {
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5em;
  }

  &__submit-success {
    color: green;
  }

  &__title {
    font-size: 2em;
    font-weight: 400;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5em;
  }

  &__details {
    display: flex;
    gap: 1em;
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  &__input[type="text"] {
    margin-top: 0.6em;
    border: 0;
    outline: 0;
    padding: 0.3em 0;
    border-bottom: 1px solid #707070;
    background-color: transparent;
  }

  &__text {
    margin-top: 0.4em;
    font-size: 0.7em;
    color: red;
  }

  &__description {
    margin-top: 1.1em;
  }

  &__textarea {
    border: 0;
    outline: 0;
    margin-top: 0.6em;
    height: 6.5em;
    width: 31em;
    border-bottom: 1px solid #707070;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    text-align: justify;
  }

  &__button-position {
    display: flex;
    margin-top: 1em;
    justify-content: flex-end;
  }

  &__button {
    outline: none;
    border: 1px solid $text1;
    padding: 1em 2.2em;
    background-color: transparent;
  }
}



