.home {
  display: flex;
  height: 100vh;
  width: 100%;

 .home__hero__image {
   width: 50%;
   height: 100%;
   background-image: url('../assets/Home-Hero-Image.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right;
  }
}

.home__header{
  width: 50%;
  height: 100%;
  margin-right: 10%;

  .home__section{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content:center;
    h2{
      font-size:1.6em;
      text-align: center;
      font-weight: 500;
    }
    .decoration{
      background-image: url('../assets/Decoration.svg');
      width: 253px;
      height: 33px;
      margin:2em 0;
    }
    .buttons {
      display:flex;
      gap:1em;

      .btn{
        padding: 13px 51px;
        background-color: #00000000;
        border: 0.75px solid $text3;
        color: $text3;
        text-align: center;
        font-size: 1.2em;
        font-family: $font-base;
        margin: 0.5em;
        width:11em;
      }

    }
  }
}