.navigation {
  margin-top: 1.5em;

  &__list-link {
    font-family: $font-base;
    display: flex;
    justify-content: flex-end;
  }

  &__item-link {
    font-size: 0.9em;
    padding: 0.6em;
    border: 1px solid #FFFFFF;

    &:hover {
      border: 1px solid $backgroundBorder;
      padding: 0.6em;
    }
  }

  &__user {
    display: flex;
    justify-content: flex-end;
  }

  &__user-account {
    background-color: #00000000;
    border: 1px solid #FFFFFF;
    color: $text2;
    font-family: $font-base;
    font-size: 0.8em;
    padding: 0.5em 0.6em;

    &:hover {
      border: 1px solid $backgroundBorder;
      padding: 0.5em 0.6em;
    }
  }

}