.register {
  color: $text3;
  margin: 0 10%;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
  }

  &__submit-success {
    color: green;
  }

  &__header {
    font-size: 2.5em;
    font-weight: 300;
  }

  &__form {
    width: 40%;
  }

  &__form-content {
    display: flex;
    flex-direction: column;
    background-color: $background;
    margin: 1em;
    padding: 3.8em;
  }

  &__form-label {
    margin: 0 1em 0.9em 1em;
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    margin-bottom: 0.5em;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid $text3;
    outline: none;

    &--red {
      border-bottom: 1px solid red;
    }
  }

  &__form-text {
    margin-bottom: 0.5em;
    font-size: 0.7em;
    color: red;
  }

  &__form-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__form-button {
    background-color: #00000000;
    border: 0.75px solid #00000000;
    padding: 0.6em 1.1em;
    cursor: pointer;
    margin-bottom: 1.2em;

    &:hover {
      border: 0.75px solid $text3;
      padding: 0.6em 1.1em;
    }
  }
}
