.three-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 0;
  background-color: $backgroundBorder;
  text-align: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text3;
    width: 480px;
  }

  &__number {
    font-size: 3em;
  }

  &__name {
    font-size: 1.1em;
    margin-top: 1em;
  }

  &__description {
    font-size: 0.9em;
    margin: 1em 5em 0 5em;
    text-align: center;
  }
}