@import './settings/reset';
@import './settings/fonts';
@import './settings/colors';
@import './homeHeader';
@import './threeColumns';
@import './simpleSteps';
@import './aboutUs';
@import './organizations';
@import './contact';
@import './contactForm';
@import './nav';
@import './login';
@import './register';
@import './logout';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  color: $text3;
}

.decoration {
  background-image: url('../assets/Decoration.svg');
  width: 253px;
  height: 33px;
  margin: 1.5em 0;
}