@import './settings/reset';
@import './settings/fonts';
@import './settings/colors';
@import './home';
@import './homeHeader';
@import './threeColumns';
@import './simpleSteps';
@import './aboutUs';
@import './organizations';
@import './contact';
@import './contactForm';
@import './nav';
@import './login';
@import './register';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $font-base;
  color:$text3;
}